{% extends "./component/base.twig" %}

{% set title = "Data Toggle" %}

{% block head %}
	<style>
		div::after {
			content: ' untoggled';
		}

		div.toggled::after {
			content: ' toggled';
		}
	</style>
{% endblock %}

{% block body %}
	<button type="button" data-toggle="#div-1, #div-2">Toggle</button>
	<div id="div-1">DIV-1</div>
	<div id="div-2" class="toggled">DIV-2</div>
{% endblock %}
