{% extends "./component/base.twig" %}

{% set title = "Data Clipboard" %}

{% block body %}
	<div data-clipboard="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">{{ title }} - Click Me!</div>
{% endblock %}
