{% extends "./component/base.twig" %}

{% set title = "Data Search" %}

{% block body %}
	<form data-search="google">
		<input type="search" placeholder="Search..." required>
		<button type="submit">Search</button>
	</form>
{% endblock %}
