{% extends "./component/base.twig" %}

{% set title = "URL Params" %} 

{% block body %}
<p title="default title" data-param-title="title" data-param-content="content">default content</p>
<input type="text" value="default value" data-param-value="value">
{% endblock %}
