{% extends "./component/base.twig" %}

{% set title = "UTM Builder" %} 

{% block body %}
    <ul>
        <li><a href="">No Link</a></li>
        <li><a href="#">Hash Link</a></li>
        <li><a href="https://monstm.gitlab.io/theme-library/html/utm-builder.html">Absolute Link</a></li>
        <li><a href="/theme-library/html/utm-builder.html">Base Link</a></li>
        <li><a href="utm-builder.html">Relative Link</a></li>
        <li><a href="https://monstm.gitlab.io/theme-library/html/utm-builder.html" class="skip-utm">Skip UTM Builder</a></li>
        <li><a href="https://monstm.gitlab.io/theme-library/html/utm-builder.html?utm_campaign=ignore-campaign" data-utm-source="Data Source" alt="utm-content">UTM Builder</a></li>
    </ul>
{% endblock %}
