{% apply spaceless %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8/normalize.min.css">

		<title>{{ title }}</title>
		{% block head %}{% endblock %}
	</head>

	<body>
		{% block body %}{% endblock %}
	</body>
</html>
{% endapply %}
